.card__wrapper--courses {
    width: 22rem;
    height: auto;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    margin: 1rem;
}

.card__wrapper--teacher {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card__image--teacher {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__content--teacher {
    position: absolute;
    bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card__detail--teacher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


/* .card__sociallink--teacher {
    display: none;
} */

.card__sociallink--teacher i {
    padding: 0.5rem;
    cursor: pointer;
}

.card__sociallink--teacher i:hover {
    color: var(--color-secondary);
    transition-duration: var(--transition-duration-time);
}

.card__wrapper--book {
    padding: 2rem 2.5rem;
}

.card__image--news {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    object-fit: cover;
    transition: all .5s ease;
}

.card__image--news img {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .card__wrapper--courses {
        margin: 1rem;
    }
    .card__wrapper--courses {
        font-size: 0.75rem;
    }
    .card__wrapper--courses span {
        font-size: 0.75rem;
    }
    .card__wrapper--courses i {
        font-size: 0.75rem;
    }
    .card__wrapper--courses h5 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 578px) {
    #bookStoreContent .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .card__wrapper--book {
        padding: 1rem 1.5rem;
    }
    .card__wrapper--teacher {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
}