#firstCarousel .carousel-control-prev,
#firstCarousel .carousel-control-next {
    z-index: 100;
}

.carousel-item__overlay {
    background: linear-gradient(#07294d5b, rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.carousel__image {
    /* background-image: url("../content/image_icon/thumbnail.jpg"); */
    background-position: center;
    background-size: cover;
}

.carousel__image--first {
    background-image: url("../content/image_icon/thumbnail.jpg");
}

.carousel__image--second {
    background-image: url("../content/image_icon/thumbnail2.jpg");
}

.carousel-item.carousel__image {
    height: 50rem;
    width: 100%;
}

.carousel-item__content {
    position: absolute;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    top: 20%;
}

.carousel-item__content p:first-child {
    font-size: 3rem;
}

.carousel-item__content p:last-child {
    font-size: 1.25rem;
}

.carousel-item__btn {
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.carousel-item__btn--first:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: var(--transition-duration-time);
}

.carousel-item__btn--second:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: var(--transition-duration-time);
}

.slider__item--custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content--custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    font-weight: 600;
    border-radius: 10px;
}

.slider__content--custom img {
    width: 6rem;
    height: 6rem;
}

#platformSectionTitle {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

#platformSectionWrapper {
    transform: translateY(-50%);
    padding: 4rem;
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    #platformSectionTitle {
        font-size: 2rem;
        font-weight: 600;
    }
    .carousel-item__content {
        top: 5%;
    }
    #platformSectionWrapper {
        padding: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    #platformSectionTitle {
        font-size: 1.5rem;
        font-weight: 600;
    }
    #platformSectionWrapper {
        padding: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-item__content p:first-child {
        font-size: 1.5rem;
    }
    .carousel-item__content p:last-child {
        font-size: 1rem;
    }
    .carousel-item__btn {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
    }
    .slider__content--custom {
        width: 8rem;
        height: 8rem;
    }
    .slider__content--custom img {
        width: 4rem;
        height: 4rem;
    }
}