:root {
    --font-size: 16px;
    --color-primary: #07294d;
    --color-secondary: #ffc600;
    --transition-duration-time: 200ms;
    --font-family: 'Roboto', sans-serif;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#topBar {
    background-color: var(--color-primary);
    color: #fff;
}

#btnToggleDropDown {
    font-size: calc(1.5 * var(--font-size));
    padding: 0;
    margin: 1.5rem;
}

#socialLink a {
    color: #fff;
}

#socialLink a:hover {
    color: var(--color-secondary);
    transition-duration: var(--transition-duration-time);
}

#accountLink a {
    color: var(--color-secondary);
    font-size: 14px;
}

#accountLink a:hover {
    color: #fff;
    transition-duration: var(--transition-duration-time);
}

#mailLink {
    color: #fff;
}

#mailLink:hover {
    color: var(--color-secondary);
    transition-duration: var(--transition-duration-time);
}

#mainNav img {
    width: auto;
    height: 3rem;
}

#fullWidthCarousel a {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

#fullWidthCarousel a>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fullWidthCarousel a:hover {
    border: 2px solid white;
    transition-duration: var(--transition-duration-time);
    border-radius: 50%;
}

#aboutSection {
    text-align: left;
    padding-bottom: 1rem;
}

#aboutSection div.col-lg:last-child {
    background-image: url("../content/image_icon/events-bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#courseSection {
    background: url("../content/image_icon/featured_courses_background.png");
}

.title__wrapper--secondary {
    height: 3.5rem;
}

.title__wrapper--secondary span {
    margin: 0;
    padding-bottom: 0.75rem;
    padding-top: 0;
    font-weight: 600;
    font-size: 1.25rem;
}

.title__wrapper--secondary span:after {
    content: "";
    display: block;
    width: 42px;
    padding-top: 1rem;
    border-bottom: 3px solid;
}

.title__wrapper--secondary.border-yellow span:after {
    border-color: var(--color-secondary);
}

.title__wrapper--primary {
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.text-secondary--custom {
    font-size: 1.75rem;
    font-weight: 700;
}

.text-primary--custom {
    font-size: 2.75rem;
    font-weight: 700;
}

#facilitySection {
    background-image: url("../content/image_icon/edu-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#facilitySection button#btnShowVideo {
    width: 5rem;
    height: 5rem;
}

#facilitySection button#btnShowVideo i {
    font-size: 1.25rem;
    text-align: center;
}

#btnCloseVideo {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    color: white;
}

#reviewSection {
    background-image: url("../content/image_icon/slider123.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reviewSection .quote-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
}

.quote-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    #facilitySection {
        background-position: center right;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    #facilityVideo {
        height: 40%;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    #facilityContent {
        height: calc(100% - 40%);
    }
}

@media only screen and (max-width: 470px) {
    #mainNav img {
        width: auto;
        height: 1.5rem;
    }
    #btnToggleDropDown {
        font-size: var(--font-size);
        margin: 0.5rem;
    }
    .title__wrapper--primary {
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }
    .text-secondary--custom {
        font-size: 1.15rem;
        font-weight: 700;
    }
    .text-primary--custom {
        font-size: 1.75rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 350px) {
    #mainNav img {
        width: auto;
        height: 1.5rem;
    }
    #btnToggleDropDown {
        font-size: var(--font-size);
        margin: 0.5rem;
    }
    .text-secondary--custom {
        font-size: 1rem;
        font-weight: 700;
    }
    .text-primary--custom {
        font-size: 1.25rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 290px) {
    #socialLink,
    #accountLink a {
        font-size: 0.75rem;
    }
    .title__wrapper--primary {
        font-size: 1.75rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }
    .text-secondary--custom {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .text-primary--custom {
        font-size: 1.5rem;
        font-weight: 700;
    }
}