:root {
    --font-size: 16px;
    --color-primary: #07294d;
    --color-secondary: #ffc600;
    --transition-duration-time: 200ms;
    --font-family: 'Roboto', sans-serif;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#firstNav {
    background-color: var(--color-primary);
    color: #fff;
}

#btnToggleDropDown {
    font-size: calc(2 * var(--font-size));
}

#socialLink a {
    color: #fff;
}

#socialLink a:hover {
    color: var(--color-secondary);
    transition-duration: var(--transition-duration-time);
}

#accountLink a {
    color: var(--color-secondary);
}

#accountLink a:hover {
    color: #fff;
    transition-duration: var(--transition-duration-time);
}

#mailLink {
    color: #fff;
}

#mailLink:hover {
    color: var(--color-secondary);
    transition-duration: var(--transition-duration-time);
}

div.thumbnail-image {
    background-image: linear-gradient(#07294d5b, rgba(0, 0, 0, 0.5)), url("http://127.0.0.1:5501/content/image_icon/thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}